---
import type { OpeningProps } from "../types/types";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";

type Props = OpeningProps;

const { frontmatter } = Astro.props;
const formattedData = dayjs(frontmatter.pubDate).format("MMM, D YYYY");
const displayUrl = frontmatter.link ? frontmatter.link.split("//")[1] : "";
---

<BaseLayout pageTitle={frontmatter.title} shouldDisplayBack>
  <div class="markdown-wrapper">
    <div class="markdown-header">
      <h1>{frontmatter.title}</h1>

      <p class="publish-date">Published on: {formattedData}</p>

      {
        !!displayUrl && (
          <p class="apply-link">
            Apply today at:{" "}
            <a
              href={frontmatter.link}
              target="_blank"
              referrerpolicy="no-referrer"
            >
              {displayUrl}
            </a>
          </p>
        )
      }
    </div>

    {frontmatter.isOpening && <p>{frontmatter.companyDescription}</p>}

    <slot />
  </div>
</BaseLayout>

<style>
  .markdown-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .markdown-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .apply-link,
  .publish-date {
    color: rgb(var(--gray));
    font-style: italic;

    a {
      padding-bottom: 4px;
      border-bottom: 2px solid rgb(var(--gray));
    }
  }
</style>
