---
import type { OpeningProps } from "../types/types";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";

type Props = OpeningProps;

const { frontmatter } = Astro.props;
const formattedData = dayjs(frontmatter.pubDate).format("MMM, D YYYY");
const displayUrl = frontmatter.link ? frontmatter.link.split("//")[1] : "";
---

<BaseLayout pageTitle={frontmatter.title} shouldDisplayBack>
  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-3">
      <h1 class="text-4xl font-bold">{frontmatter.title}</h1>

      <p class="italic text-gray-600">Published on: {formattedData}</p>

      {
        !!displayUrl && (
          <p class="italic text-gray-600">
            Apply today at:{" "}
            <a
              href={frontmatter.link}
              target="_blank"
              referrerpolicy="no-referrer"
              class="border-b-2 border-gray-600 pb-1"
            >
              {displayUrl}
            </a>
          </p>
        )
      }
    </div>

    {frontmatter.isOpening && <p>{frontmatter.companyDescription}</p>}

    <slot />
  </div>
</BaseLayout>
